<div class="content flex flex-col h-full">
  <div class="flex py-4 px-6 justify-between">
    <div class="text-lg font-medium">
      Total No. of Taxes
      <span class="ml-2 text-xs bg-blue-50 px-3 py-1 rounded-full">
        {{ taxes.length }} Taxes
      </span>
    </div>

    <button mat-flat-button color="primary" (click)="openNewTaxDialog()">
      <mat-icon>add</mat-icon>
      Add New Tax
    </button>
  </div>

  <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: 90vh" [rowData]="taxes" [columnDefs]="colDefs"
    [gridOptions]="gridOptions" [theme]="'legacy'"></ag-grid-angular>
</div>