<h2 class="flex justify-center items-center text-3xl pt-8">
  {{ isEdit ? 'Update Tax' : 'Add New Tax' }}
</h2>

<mat-dialog-content>
  <form [formGroup]="taxForm">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 my-10 place-items-center">
      <mat-form-field class="w-80">
        <mat-label>Tax Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <mat-form-field class="w-80">
        <mat-label>Tax Code</mat-label>
        <input matInput formControlName="code" />
      </mat-form-field>


      <mat-form-field class="w-80">
        <mat-label>Calculation Type</mat-label>
        <mat-select formControlName="calculationType">
          <mat-option *ngFor="let type of calculationTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>      
      
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton="outlined" mat-dialog-close>Cancel</button>
  <button matButton="filled" (click)="onSave()">
    {{ isEdit ? 'Update' : 'Save' }}
  </button>
</mat-dialog-actions>