<h2 class="flex justify-center items-center text-3xl pt-8">
  {{ "Afghan Gumrak Form" }}
</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="gumrakForm">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-2 gap-y-3 w-full place-items-center my-12"
    >
      <mat-form-field class="w-80">
        <mat-label>Truck Number</mat-label>
        <input matInput formControlName="truckNo" />
      </mat-form-field>
      <mat-form-field class="w-80">
        <mat-label>Driver Name</mat-label>
        <input matInput formControlName="driverName" />
      </mat-form-field>
      <mat-form-field class="w-80">
        <mat-label>Metric Ton</mat-label>
        <input matInput formControlName="metricTon" />
      </mat-form-field>
      <mat-form-field class="w-80">
        <mat-label>Choose an English date</mat-label>
        <input
          matInput
          [matDatepicker]="pickerEnglish"
          formControlName="englishDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerEnglish">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerEnglish></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="w-80">
        <mat-label>Choose an Islamic date</mat-label>
        <input
          matInput
          [matDatepicker]="pickerIslamic"
          formControlName="islamicDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="pickerIslamic">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #pickerIslamic></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="w-80">
        <mat-label>
          {{ "Enter the invoice Expense." }}
        </mat-label>
        <input matInput formControlName="invoiceExpense" />
      </mat-form-field>
      <mat-form-field class="w-80">
        <mat-label>
          {{ "Enter other Expense" }}
        </mat-label>
        <input matInput formControlName="otherExpense" />
      </mat-form-field>
      <mat-form-field class="w-80">
        <mat-label>
          {{ "Enter the afghan Tax" }}
        </mat-label>
        <input matInput formControlName="afghanTax" />
      </mat-form-field>
      <mat-form-field class="w-80">
        <mat-label>
          {{ "Enter  commission" }}
        </mat-label>
        <input matInput formControlName=" commission" />
      </mat-form-field>
      <mat-form-field class="w-80">
        <mat-label>
          {{ "Total Amount" }}
        </mat-label>
        <input matInput formControlName="totalGumrakAmount" />
      </mat-form-field>
      <div class="w-80 h-44 relative">
        <input
          type="file"
          accept="image/*"
          #fileInput
          (change)="onImageSelected($event)"
          hidden
        />
        <mat-card
          class="h-full mx-auto flex items-center justify-center gap-4 flex-wrap box-border cursor-pointer"
          (click)="fileInput.click()"
        >
          @if (!selectedImage) {
          <span class="text-gray-800 text-center">
            {{ "Upload Gumrak Image" }}
          </span>
          } @if(selectedImage) {
          <div class="flex w-full h-full items-center gap-2">
            <img
              [src]="selectedImage"
              alt="Custom Preview"
              class="w-full h-full object-contain rounded"
            />
            <button
              mat-icon-button
              color="warn"
              (click)="clearImage($event)"
              aria-label="Remove"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          }
        </mat-card>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton="outlined" mat-dialog-close>Cancel</button>
  <button matButton="filled" cdkFocusInitial (click)="onSave()">Save</button>
</mat-dialog-actions>
