<div class="content flex flex-col" style="width: 100%; height: 100%">
  <div class="flex py-4 px-6 justify-between">
    <div class="text-lg font-medium">
      Total Users
      <span class="text-xs bg-blue-50 px-3 py-1 rounded-2xl ml-2">
        {{ Users.length }}
      </span>
    </div>

    <button *hasPermission="'user:create'" mat-flat-button color="primary" cdkFocusInitial
      (click)="openNewUserDialog()"> <mat-icon>add</mat-icon> Add New User
    </button>
  </div>

  <ag-grid-angular class="ag-theme-alpine" style="width: 100%; height: calc(100vh - 120px)" [rowData]="Users"
    [columnDefs]="colDefs" [gridOptions]="gridOptions" [theme]="'legacy'">
  </ag-grid-angular>
</div>