<div class="flex justify-between items-center mb-3">
    <h2>Tax Rules</h2>

    <button mat-raised-button color="primary" (click)="openCreateDialog()">
      + Add Tax Rule
    </button>
  </div>

  <table mat-table [dataSource]="rules" class="mat-elevation-z8 w-full">

    <ng-container matColumnDef="tax">
      <th mat-header-cell *matHeaderCellDef> Tax </th>
      <td mat-cell *matCellDef="let rule">
        {{ getTaxName(rule.taxId) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="importerType">
      <th mat-header-cell *matHeaderCellDef> Importer Type </th>
      <td mat-cell *matCellDef="let rule">
        {{ rule.importerType }}
      </td>
    </ng-container>

    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef> Rate </th>
      <td mat-cell *matCellDef="let rule">
        {{ rule.rate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="effectiveFrom">
      <th mat-header-cell *matHeaderCellDef> Effective From </th>
      <td mat-cell *matCellDef="let rule">
        {{ rule.effectiveFrom }}
      </td>
    </ng-container>

    <ng-container matColumnDef="effectiveTo">
      <th mat-header-cell *matHeaderCellDef> Effective To </th>
      <td mat-cell *matCellDef="let rule">
        {{ rule.effectiveTo || "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let rule">

        <button mat-icon-button color="primary" (click)="openEditDialog(rule)">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-icon-button color="warn" (click)="deleteRule(rule.id)">
          <mat-icon>delete</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>

  </table>