<div class="content" class="flex flex-col" style="width: 100%; height: 100%">
  <div class="flex py-4 px-6 justify-between">
    <div
      class="flex justify-between items-center text-[#101828] text-lg font-medium"
    >
      Total No. of customers
      <span
        class="text-xs bg-blue-50 text-blue-900 px-3 py-0.5 rounded-2xl ml-2"
      >
        {{ customerDetails.length }} customers
      </span>
    </div>
    <div class="text-xs bg-blue-50 text-blue-900 rounded-2xl">
      <button
        *hasPermission="'customer:create'"
        mat-flat-button
        color="primary"
        cdkFocusInitial
        (click)="openNewCustomerDialog()"
      >
        <mat-icon style="color: white">add</mat-icon> Add New Customer
      </button>
    </div>
  </div>

  <ag-grid-angular
    style="width: 100%; height: 90vh"
    [rowData]="customerDetails"
    [gridOptions]="gridOptions"
    [columnDefs]="CustomerCol"
    [theme]="'legacy'"
    (gridReady)="onGridReady($event)"
    class="ag-theme-alpine"
  />
</div>
