<div class="flex flex-col items-center w-full px-6 py-4 space-y-6">
  @if(purchaseData() ) {
  <div
    class="w-full max-w-6xl bg-[#216B96] text-white px-6 py-4 text-2xl font-semibold rounded-md shadow"
  >
    Buy Stock
  </div>
  <div class="w-full my-8 px-2 flex flex-start gap-4">
    @if(!purchaseFreightData() ) {
    <button
      *hasPermission="'purchaseFreight:create'"
      mat-flat-button
      color="primary"
      cdkFocusInitial
      (click)="openFreightDialog()"
    >
      Freight Entry
    </button>
    } @if(!gumrakData() ) {
      <!-- TODO: Apply correct permissions -->
      <button
      *hasPermission="'custom:create'"
      mat-flat-button
      color="primary"
      cdkFocusInitial
      (click)="openGumrakDialog()"
    >
      Afghan Gumrak Entry
    </button>
    } @if(!pakCustomData() ) {
    <button
      *hasPermission="'custom:create'"
      mat-flat-button
      color="primary"
      cdkFocusInitial
      (click)="openPakCustomDialog()"
    >
      Pakistan Custom Entry
    </button>
    }
  </div>
  } @if(purchaseData() ) {
  <app-summary-card
    title="Purchase Detail"
    [data]="purchaseData()!"
    imageKey="builtyImage"
    permission="purchase:update"
    class="w-full"
    (edit)="openEditPurchaseDialog(purchaseData().id!)"
  ></app-summary-card>
  } @if(purchaseFreightData() ) {
  <app-summary-card
    title="Freight Detail"
    [data]="purchaseFreightData()!"
    imageKey="builtyImage"
    permission="purchaseFreight:update"
    class="w-full"
    (edit)="openEditFreightDialog(purchaseData().id!)"
  ></app-summary-card>
  } @if(gumrakData() ) {
  <app-summary-card
    title="Afghan Gumrak Detail"
    [data]="gumrakData()!"
    imageKey="gumrakImage"
    permission="custom:update"
    class="w-full"
    (edit)="openEditGumrakDialog(purchaseData().id!)"
  ></app-summary-card>
  } @if(pakCustomData() ) {
  <app-summary-card
    title="Pakistan Custom Detail"
    [data]="pakCustomData()!"
    imageKey="customImage"
    permission="custom:update"
    class="w-full"
    (edit)="openPakCustomDialog()"
  ></app-summary-card>
  }
</div>
